<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Creative Studio</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="javascripts/jquery-1.3.1.min.js"></script>
<script type="text/javascript" src="javascripts/scripts.js"></script>
<script type="text/javascript" src="javascripts/coda-slider.1.1.1.js"></script>
<script type="text/javascript" src="javascripts/jquery-easing-compatibility.1.2.pack.js"></script>
<script type="text/javascript" src="javascripts/jquery-easing.1.2.pack.js"></script>
      <%= stylesheet_link_tag :all %>
      <%= javascript_include_tag :defaults %>
      <%= csrf_meta_tag %>
</head>
<body>
<div id="main_container">
  <div id="header">
    <div id="menu">
      <ul>
        <li><a class="current" href="#">home</a></li>
        <li class="divider"></li>
        <li><a href="content.html">about us</a></li>
        <li class="divider"></li>
        <li><a href="contact.html">contact</a></li>
        <li class="divider"></li>
        <li><a href="#">portofolio</a></li>
      </ul>
    </div>
  <!--  <div id="logo"><a href="#"><img src="images/logo.gif" alt="" border="0" /></a></div> -->
  </div>
  <div class="slider_content">
    <div class="featured-arrow"  id="stripNavL0"> <a href="javascript:void(0);"><img src="images/left_nav.gif" alt="" border="0" /></a> </div>
    <div id="slider">
      <div class="slider-wrap">
        <div id="sliderc" class="csw">
          <div class="panelContainer">
            <div class="panel">
              <div class="tab1">
                <p class="tab_content"> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                <a href="#" class="read_more"><img src="images/read_more.gif" alt="" border="0" /></a> </div>
              <div class="tab2">
                <p class="tab_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                <a href="#" class="read_more"><img src="images/read_more.gif" alt="" border="0" /></a> </div>
              <div class="tab3">
                <p class="tab_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                <a href="#" class="read_more"><img src="images/read_more.gif" alt="" border="0" /></a> </div>
            </div>
            <div class="panel">
              <div class="tab1">
                <p class="tab_content">orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                <a href="#" class="read_more"><img src="images/read_more.gif" alt="" border="0" /></a> </div>
              <div class="tab2">
                <p class="tab_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                <a href="#" class="read_more"><img src="images/read_more.gif" alt="" border="0" /></a> </div>
              <div class="tab3">
                <p class="tab_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                <a href="#" class="read_more"><img src="images/read_more.gif" alt="" border="0" /></a> </div>
            </div>
            <div class="panel">
              <div class="tab1">
                <p class="tab_content">rem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                <a href="#" class="read_more"><img src="images/read_more.gif" alt="" border="0" /></a> </div>
              <div class="tab2">
                <p class="tab_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                <a href="#" class="read_more"><img src="images/read_more.gif" alt="" border="0" /></a> </div>
              <div class="tab3">
                <p class="tab_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                <a href="#" class="read_more"><img src="images/read_more.gif" alt="" border="0" /></a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="featured-arrow" id="stripNavR0"> <a href="javascript:void(0);"><img src="images/right_nav.gif" alt="" border="0"/></a></div>
  </div>
  <div class="clear"></div>
</div>
<!--end of slider content-->
<div class="main_content">
  <div class="left_content">
    <div class="title">Welcome to our studio</div>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi. <br />
      <br />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi. </p>
    <div class="title">News Blog</div>
    <div class="banner"> <img src="images/news_icon.jpg" alt="" class="news_icon" />
      <p class="banner_content"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
  </div>
  <!--end of left content-->
  <div class="right_content">
    <div class="title">Latest Projects</div>
    <div class="project_box">
      <div class="project_title_tab">
        <div class="project_bullet">1</div>
        <div class="project_title">Project name</div>
      </div>
      <div class="project_content"> <img src="images/project_thumb.jpg" alt="" class="left_img" />
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
    </div>
    <div class="project_box">
      <div class="project_title_tab">
        <div class="project_bullet">2</div>
        <div class="project_title">Project name</div>
      </div>
      <div class="project_content"> <img src="images/project_thumb.jpg" alt="" class="left_img" />
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
    </div>
  </div>
  <!--end of right content-->
  <div class="clear"></div>
</div>
<div class="footer">
  <div class="right_footer"> Copyright 2009.<a href="#">Websitename</a> | Template by<a href="http://indeziner.com">INDEZINER</a> </div>
</div>
</body>
</html>
